* {
    margin: 0;
    padding: 0;
    background: url('./images/agecalcbackground.jpg');
    color: honeydew;
}
nav {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px 0;
    margin-right: 0%;
}
ul {
    text-align: right;
}
li {
    display: inline-block;
}
nav li a {
    padding: 10px;
    margin-right: 0%;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    color: honeydew;
}
nav ul li a:hover {
    background: black;
    color: honeydew;
}
h1 {
    text-align: center;
    font-size: 46px;
    color: honeydew;
}
p {
    color: honeydew;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 26px;
    padding: 30px;
}
.into {
    width: 50%;
    height: 380px;
    background-color: gray;
    background-image: url('./images/agecalcbackground.jpg');
    background-size: cover;
    text-align: center;
}