* {
    margin: 0;
    padding: 0;
}
.one {
    height: 60vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./images/1200px-Flag_of_Ghana.svg.png');
    color: honeydew;
    background-position: center;
    font-size: 25px;
}
nav {
    list-style: none;
}
ul {
    list-style: none;
    float: right;
    margin: 25px;
}
ul li {
    display: inline-block;
}
ul li a {
    text-decoration: none;
    color: honeydew;
    padding: 6px 20px;
    border: 1px solid black;
    background: black;
}
ul li a:hover {
    background-color: grey;
}
.content {
    margin: 10px 20px;
}
.two {
    height: 40vh;
    background: cornsilk;
}
.trial {
    text-align: center;
}
.two .trial .row h1 {
    padding: 15px;
    font-size: 30px;
}
.two .trial .row p {
    font-size: 20px;
    padding-bottom: 10px;
}
.two .trial .row h2 {
    padding: 10px;
    font-size: 25px;
}
.two .trial .row h3 {
    padding: 10px;
    font-size: 25px;
}
ol {
    font-size: 20px;
}
.three {
    /* height: 40vh; */
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./images/GhanianTribes.jpg');
    color: honeydew;
    text-align: center;
}
/* form {
    padding: 10px;
    width: 85px;
    height: 50px;
} */
